*::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-thumb{
    background-color: rgb(144, 144, 144);
    border-radius: 10px;
}
*::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: rgb(211, 211, 211);
}